<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My Team Mate{% endblock %}</title>
        {% stylesheets 'bundles/mtmdesign/css/*' filter='cssrewrite' %}
        	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
        	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="top">
    	{% block header %}
    	
    		<div class="left_head">
				{% block left_button %}{% endblock %}
    		</div>
    		<div class="page_name">
    			{% block page_name %}Header{% endblock %}
	    	</div>
    		<div class="right_head">
    				{% block right_button %}{% endblock %}
    		</div>    	
    	{% endblock %}
    	</div>
    	
    	<div class="middle">
	    	{% block body %}
		        {% block div %}{% endblock %}
		        {% javascripts %}{% endjavascripts %}
		    {% endblock %}
	    </div>
	    
		    
    </body>
</html>
