<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My Team Mate{% endblock %}</title>
        {% stylesheets '../app/Resources/public/css/style.css' %}
        	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
        	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{% block header %}
    		<div class="header">Header</div>
    	{% endblock %}
        {% block body %}{% endblock %}
        {% javascripts %}{% endjavascripts %}
    </body>
</html>
