{% extends 'MTMCoreBundle::noconnect.html.twig' %}
{% block page_name %}Réinitialisation{% endblock %}

{% block body %}
<p>Un nouveau mot de passe vous a déjà été envoyé par mail</p>
{% endblock body %}
