

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{  invalid_username  }}</p>
        {% endif %}
        <ul class="inputs">
        <li>
        <input type="text" id="username" name="username" required="required" placeholder="Email ou login"/>
        </li>
        </ul>
    </div>
     <div class="registrationSubmit">
		 	   <div class="registrationSubmitInner">
		 	   	<span class="icon">
		 	   		<span class="icon" data-icon="&#xe001;" aria-hidden="true" title="password"></span>
		 	   		 <input value="{{ 'Valider'|trans }}" type="submit" />
		 	   	</span>
		</div>
</form>




