{% block subject %}Réinitialisation du mot de passe MyTeamMate{% endblock %}

{% block body_text %}

{% endblock %}

{% block body_html %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Réinitialisation du mot de passe My Team Mate{% endblock %}</title>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/mtmdesign/css/mail.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
    	<h1>Modification de votre mot de passe sur My Team Mate !</h1>
    	<div class="corps">
    	<h2>Bonjour {{ user.username }} ! </h2>
    	<p>Vous venez de demander la récupération de votre mot de passe sur My Team Mate. Pour cela, merci de cliquer <a href="{{confirmationUrl}}">ici</a> </p>
    	
    	<p>A bientôt !</p>   	
    	</div>
	    
		    
    </body>
</html>



{% endblock %}
