/* header */
.header{
	background-color: #0400FF;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	height: 30px;
	text-align: center;
}

/* common */
body{
	font-family: 'Pontano Sans', arial, serif;
	background-color: #B7E3FF;
	margin: 0;
}

/* login */


/* profil */


/* header */