/* common */
body{
	font-family: 'Pontano Sans', arial, serif;
	background-color: #F0F0F0;
	margin: 0;
}
.middle{
	text-align: center;
}

label
{
    display: block;
    width: 150px;
    float: left;
}

/* header */
.top{
	background-color: #13648C;
	color: white;
	width: 100%;
	height: 35px;
	line-height: 35px;	
}
.left_head{
	position: absolute;
	float:left;
	top: 0px;
	left: 5px;
}
.page_name{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
}
.right_head{
	position: absolute;
	float:right;
	top: 0px;
	right: 5px;
}



/* login */
.logout{
	background: url('../img/logout.jpg') no-repeat scroll 0 0;
}


/* profil */

/* practice */

.practice{
	background-color: #f99534;
	padding: 4px ;
}





