{% extends '::base.html.twig' %}

{% block header %}
	<div class="header">Sport</div>
{% endblock %}

{% block body %}
	<form action="{{ path('add_sport') }}" method="post" {{ form_enctype(form) }}>
	   
	
	    <input type="submit" />
	</form>
{% endblock %}