{% extends 'MTMSportBundle:Sport:base_sport.html.twig' %}


{% block body %}
	<form action="{{ path('add_sport') }}" method="post" {{ form_enctype(form) }}>
	   
	
	    <input type="submit" />
	</form>
{% endblock %}