{% extends 'MTMSportBundle::base_sport.html.twig' %}

{% block div %}
	Vous n'avez pas encore de sport !
	<div class="registrationSubmit">
	 	   <div class="registrationSubmitInner">
		 	   	<span class="icon">
		 	   		<a href="{{ path('add_sport') }}"> <input value="Ajouter un sport" type="submit" /></a>
		 	   	</span>
	 	   	</div>
	</div>
{% endblock %}
