{% extends '::connect.html.twig' %}

{% block page_name %}Messages{% endblock %}

{% block right_button %}
	<a class="logout" value="X" href="{{ path('logout') }}">X</a>
{% endblock %}

{% block body %}{% endblock %}