{% extends 'MTMProfileBundle:Profile:base_profile.html.twig' %}


{% block body %}
	<form action="{{ path('add_profile') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	
	    <input type="submit" />
	</form>
<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> parent of d7aa5df... Ajout de la gestion des messages et mofification du bundle qui gère
