{% extends 'MTMProfileBundle:Profile:base_profile.html.twig' %}


{% block body %}
	<form action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <input type="submit" />
	</form>

{% endblock %}