{% extends '::base.html.twig' %}

{% block header %}
	<div class="header">Profil</div>
{% endblock %}

{% block body %}
	Vous n'avez pas encore de profil : <a href="{{ path('add_profile') }}"> Ajouter </a>
{% endblock %}