{% extends 'connect.html.twig' %}

{% block page_name %}Profil{% endblock %}
{% block body %}
	Hello {{ name }} {{ firstname }} !
	
	<a href="{{ path('sport') }}" > Voir mes sports </a>
	<a href="{{ path('message') }}"  > Voir mes messages </a>
	<a> Voir mes commentaires </a>
	<a> Voir mes favoris </a>
{% endblock %}

