{% extends '::base.html.twig' %}

{% block header %}
	<div class="header">Profil</div>
{% endblock %}

{% block body %}
	Hello {{ nom }} {{ prenom }} !
	
	<a href="{{ path('sport') }}" > Voir mes sports </a>
	<a> Voir mes messages </a>
	<a> Voir mes commentaires </a>
{% endblock %}