{% extends '::base.html.twig' %}

{% block header %}
	<div class="header">Inscription</div>
{% endblock %}

{% block body %}
	Vous avez été enregisté. <a href="{{ path("profile") }}" > OK </a>
{% endblock %}