{% extends 'MTMLoginBundle::connect.html.twig' %}

{% block page_name %}Inscription{% endblock %}

{% block body %}
    Vous avez &eacute;t&eacute; enregistr&eacute;. <a href="{{ path("profile") }}" > OK </a>
{% endblock body %}
