{% extends 'MTMCoreBundle::connect.html.twig' %}

{% block page_name %}Messagerie{% endblock %}

{% block right_button %}
		<a href="{{ url('fos_message_thread_new')}}" class="icon" data-icon="&#xe012;" aria-hidden="true" title="Nouveau message"></a>
		<a href="{{ url('fos_message_inbox') }}" class="icon" data-icon="&#xe014;" aria-hidden="true" title="Boite de réception"></a>
        <a href="{{ url('fos_message_sent') }}" class="icon" data-icon="&#xe015;" aria-hidden="true" title="Messages envoyés"></a>
	
{% endblock %}

{% block body %}
        {% block fos_message_content %}{% endblock %}
{% endblock body %}	