{% extends '::base.html.twig' %}

{% block page_name %}Sports{% endblock %}

{% block right_button %}
	<a class="logout" value="X" href="{{ path('logout') }}">X</a>
{% endblock %}

{% block div %}{% endblock %}
{% javascripts %}{% endjavascripts %}
