{% extends '::connect.html.twig' %}


{% block right_button %}
	<a class="button_add" value="Ajouter" href="{{ path('add_sport') }}">Ajouter</a>
{% endblock %}

{% block body %}
	{% block div %}{% endblock %}
	{% javascripts %}{% endjavascripts %}
{% endblock %}