{% extends '::connect.html.twig' %}

{% block page_name %}
	<a class="sport" value="Sport" href="{{ path('sport') }}">Sport</a>	
{% endblock %}

{% block right_button %}
	<a class="button add_sport" value="Ajouter" href="{{ path('add_sport') }}">
		<img src="{{ asset('bundles/mtmdesign/img/add.png') }}" alt="Ajouter" />
	</a>
	{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
	
{% endblock %}
	
{% block body %}
	{% block div %}{% endblock %}
	{% javascripts %}

	{% endjavascripts %}
{% endblock %}