/* common */
body {
	font-family: 'Pontano Sans', arial, serif;
	background-color: #F0F0F0;
	z-index: 0;
	margin: 0;
}

.middle {
	text-align: center;
	margin: 10px auto;
	max-width: 400px;
}

label {
	display: block;
	width: 153px;
	float: left;
}

.button_cancel {
	margin: 0 0 10px 0;
	background-color: #E1E1E1;
	vertical-align:middle;
}

.button_cancel a {
	padding : 10px ;
	display: block;
	color: #000000;
	text-decoration: none;
}

.clear {
	clear: both;
}

.registrationSubmit{
	margin-top: 7px;
}
.registrationSubmit a{
	text-decoration: none;
}

/* header */
.top,.bottom {
	background-color: #13648C;
	color: white;
	width: 100%;
	height: 35px;
	line-height: 35px;
}

.left_head {
	position: absolute;
	float: left;
	top: 0px;
	left: 5px;
}

.page_name {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
}

.right_head {
	position: absolute;
	float: right;
	top: 0px;
	right: 5px;
}

.button img {
	cursor: pointer;
	margin: 7px 10px;
}

nav {
	background-color: #13648C;
	border: 2px solid white;
	top: 35px;
	width: 250px;
	position: absolute;
	z-index: 1;
}

nav div a {
	padding: 3px 10px;
	border: 2px solid white;
	color: white;
	text-decoration: none;
	display: block;
	height: 100%;
}
/* footer */
.bottom {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 11px;
}

/* login */
.loginForm {
	margin: 0 20px;
}

.inputs li {
	list-style: none;
	background: #FFFFFF;
	padding: 12px 15px;
	margin: 0 0 10px 0;
}

.inputs {
	margin: 0;
	padding: 0;
}

.inputs li input {
	border: none;
	font-size: 18px;
	outline: none;
}

.inputs li label {
	color: #A9A9A9;
	margin-left: 89px;
}

.icon {
	margin-right: 5px;
	color: #A8A8A8;
	text-decoration: none;
}

.footerLogin {
	text-align: left;
	margin: 0;
	display: block;
	height: 50px;
	margin-top: 20px;
}

.footerMessage {
	text-align: left;
	margin: 0;
	display: block;
	height: 100px;
	margin-top: 20px;
}

.footerLogin ul {
	margin: 0;
	padding: 0;
	float: left;
	max-width: 195px;
	margin-top: 7px;
}

.footerLogin ul li {
	list-style: none;
	font-size: 14px;
}

.loginLink,.loginSubmit {
	height: 51px;
}

.loginSubmit {
	background-color: #E1E1E1;
	margin: 0 0 10px 200px;
}

.newMessageSubmit {
	width : 93%;
	float : left;
	background-color: #E1E1E1;
	margin: 0 0 10px 0;
}

.deleteMessageSubmit {
	background-color: #FFFFFF;
	margin: 0 0 0 0px;
	width: 70px;
	text-align: center;
}

.deleteMessageSubmit span {
	position: relative;
	margin: 0 0 0 20px;
}

.deleteMessageSubmit input {
	background-color: #FFFFFF;
	border: 0px;
	font-size: 16px;
	position: relative;
	cursor: pointer;
}

.newMessageSubmit input,.button_message_new input,.loginSubmit input,.registrationSubmit input {
	background-color: #E1E1E1;
	border: 0px;
	font-size: 16px;
	position: relative;
	cursor: pointer;
}

.newMessageSubmit,.loginSubmit .loginSubmitInner,.registrationSubmit .registrationSubmitInner
	{
	padding: 12px 15px;
}

.loginSubmitInner,.registrationSubmitInner {
	margin: 0 auto;
	width: 216px;
}

.rememberMe label {
	font-weight: bold;
}

/*registration*/
.registrationForm {
	margin: 0 20px;
}

.registrationForm form {
	text-align: center;
	margin: 0 auto;
	max-width: 400px;
}

.registrationSubmit {
	background-color: #E1E1E1;
}

.acceptusemail {
	line-height: 2em;
}

.acceptusemail label {
	line-height: 1em;
}

/* profile */
.personnal_info {
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	margin: 0 10px;
}

.personnal_info .description {
	display: block;
	font-weight: normal;
}

.picture img {
	max-width: 150px;
	float: right;
	margin-top: -3em;
}

.tiles {
	height: 100%;
}

.tile {
	margin: 3% 10px;
	width: 45%;
	height: 110px;
	background-color: white;
}

.tile.left {
	float: left
}

.tile.right {
	float: right
}

.tile a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 75px;
	font-weight: bold;
	text-decoration: none;
	color: #13648C;
	-moz-box-shadow: 3px 3px 2px #888;
	-webkit-box-shadow: 3px 3px 2px #888;
	box-shadow: 3px 3px 2px #888;
}

.tile img {
	max-width: 90%;
	max-height: 90%;
}

/* picture choice */
.flickr_pictures {
	margin-left: 36px;
}

.flickr_pictures img {
	max-width: 140px;
	max-height: 140px;
}
.flickr_pictures .registrationSubmit {
	margin-top:7px;
	width:330px;
}
.flickr_picture{
	background-color: white;
	margin-top:7px;
	margin-right:7px;
	width:150px;
	height:150px;
	float: left;
	padding: 5px;
}
.flickr_picture input{
	display: none;
}
.flickr_picture.checked{
	border: 2px solid black;
	width:146px;
	height:146px;
}

/* add sport */
.add_sport{
	text-align: left;	
}
.add_sport ul{
	list-style: none;
}

/* practice */
.practice {
	background-color: #FFFFFF;
	margin: 20px 10px;
	padding: 4px;
}

/* Messages */
/* login */
.messageForm {
	margin: 0 20px;
}
.thread{
	max-width: 100%;
	height: 70px;
	display: block;
	margin: 4px 0 4px 0;
}
.button_message_delete {
	float : left;
	display: block;
	height: 70px;
	width: 18.8%;
	background-color: #FFFFFF;
	margin: 0 0 0 2px;
}
.button_message_body {
	float : left;
	display: block;
	height: 70px;
	width : 59.7%;
	background-color: #FFFFFF;
	margin: 0 2px 0 2px;
}
.button_thread_new {
	float : left;
	display: block;
	height: 70px;
	width : 99%;
	background-color: #FFFFFF;
	margin: 0 2px 0 2px;
}
.button_thread_body {
	float : left;
	display: block;
	height: 70px;
	width : 79.05%;
	background-color: #FFFFFF;
	margin: 0 2px 0 2px;
}
.message_no {
	float : left;
	display: block;
	height: 70px;
	width : 100%;
	background-color: #FFFFFF;
	margin: 0 0 0 0;
}
.button_message_body a, .button_message_delete a,.button_profil a {
	display: block;
	width: 100%;
	height: 100%;
	color: #13648C;
	margin: 0 0 0 0;
	text-decoration: none;
}
.username {
	color: #000000;
	text-align : left;
	margin: 0 2px 0 2px;
}
.date {
	display: block;
	color: #000000;
	text-align : right;
	margin: 0 2px 0 0;
}
.date_right {
	display: block;
	float : left;
	color: #000000;
	text-align : right;
	vertical-align:bottom;
	width : 24%;
	height : 70px;
	margin: 0 2px 0 0;
}
.date_left {
	display: block;
	float : left;
	color: #000000;
	text-align : left;
	vertical-align:bottom;
	width : 24%;
	height : 70px;
	margin: 0 0 0 2px;
}
.message_body {
	
	float : left;
	display: block;
	width: 73%;
	vertical-align:middle;
	padding: 2px 0;
	line-height: 70px;
	text-decoration: none;
}

.button_profil {
	display: block;
	float : left;
	width: 18.7%;
	height: 70px;
	background-color: #FFFFFF;
	margin: 0 2px 0 2px;
}
.button_profil img{
	margin: 2px 2px 2px 2px;
	width : 66px;
	height : 66px;
}
.button_profil left{
	float : left;
}

.message_subject {
	display: block;
	width: 100%;
	height: 40px;
	color: #13648C;
	background-color: #E1E1E1;
	margin: 0 0 0px 0;
	vertical-align:middle;
	padding: 2px 0;
	line-height: 33px;
}
.message_footer{
	max-width: 100%;
	height: 40px;
	display: block;
	margin: 4px 0 4px 0;
}
.button_new_message {
	width : 150px;
	float : left;
	background-color: #E1E1E1;
	margin: 0 0 10px 0;
}
.button_message_cancel {
	width : 28.8%;
	height:100%;
	float : left;
	background-color: #E1E1E1;
	margin: 0px 4px 0 0 ;
	vertical-align:middle;
	line-height: 33px;
}
.button_message_new {
	width : 70%;
	float : left;
	height:100%;
	background-color: #E1E1E1;
	margin: 0 0 0 0;
}
.button_new_message{
	display: block;
	width: 40%;
	height: 50px;
	background-color: #E1E1E1;
	margin: 0 0 10px 0;
	padding: 2px 0;
}
.button_message_new input{
	border: 0px;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	width :100%;
	height:100%;
	font-family: 'Pontano Sans', arial, serif;
	padding: 0 0 7px 0px;
	color : #000000;
	
}
.button_new_message a,.button_message_cancel a {
	
	display: block;
	width: 100%;
	height: 40px;
	color: #000000;
	vertical-align:middle;
	line-height: 33px;
	text-decoration: none;
	
	font-family: 'Pontano Sans', arial, serif;
}
.button_new_message img,.button_message_cancel img{
	margin-top : 4px;
	max-width: 30px;
	max-height: 30px;
}

.button_add_message a {
	display: block;
	width: 100%;
	height: 40px;
	color: #13648C;
	background-color: #E1E1E1;
	margin: 0 0 10px 0;
	vertical-align:middle;
	padding: 2px 0;
	line-height: 33px;
	text-decoration: none;
}
/*Comment*/
.button_comment_new {
	width : 99%;
	float : left;
	height:100%;
	background-color: #E1E1E1;
		margin: 0 2px 0 2px ;
}
.button_comment_new input{
	border: 0px;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	width :100%;
	height:100%;
	background-color: #E1E1E1;
}

/* Note */

.note {
	list-style: none;
	background: #FFFFFF;
	padding: 12px 15px;
	margin: 0 0 10px 0;
}
.current-note{
	color: #A8A8A8;
	margin-left: 10px: 
}


.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
	background: url(../img/star.gif) left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:5px auto 0px auto;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left bottom;
}
.star-rating a.one-star{
	width:20%;
	z-index:7;
}
.star-rating a.two-stars{
	width:40%;
	z-index:6;
}
.star-rating a.three-stars{
	width:60%;
	z-index:5;
}
.star-rating a.four-stars{
	width:80%;
	z-index:4;
}
.star-rating a.five-stars{
	width:100%;
	z-index:3;
}
.star-rating .current-rating{
	z-index:2;
	background-position: left center;
}	

/* for an inline rater */
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}

/* smaller star */
.small-star{
	width:50px;
	height:10px;
}
.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-rating{
	background-image: url(../img/star_small.gif);
	line-height: 10px;
	height: 10px;
}
