{% extends 'MTMCoreBundle::layout.html.twig' %}

{% block left_button %}
		<script type="text/javascript">
			function showMenu(ev){
				$("nav").slideToggle();
			}
		</script>
		<a class="button menu" onclick="showMenu(event)">
			<img src="{{ asset('bundles/mtmdesign/img/menu.png') }}" alt="Menu" />
		</a>
{% endblock %}

{% block nav %}
	<nav class=menu >
    	<div>
    		<a href="{{ path('profile') }}"><span>Mon profil</span></a>
    	</div>
    	<div>
    		<a href="{{ path('fos_user_profile_show') }}"><span>Modifier mon compte</span></a>
    	</div>
    	<div>
    		<a href="{{ path('logout') }}"><span>Déconnexion</span></a>
    	</div>		
	</nav>
{% endblock %}