{% extends '::noconnect.html.twig' %}

{% block page_name %}Connexion{% endblock %}

{% block body %}
	{% if error %}
	    <div>{{ error.message }}</div>
	{% endif %}

	<form action="{{ path('login_check') }}" method="post">
        <p>  
	  		<label for="username">Email :</label>
	   		<input type="text" id="username" name="_username" placeholder="exemple@exemple.com" value="{{ last_username }}" />
		</p>
	<p>
	    <label for="password">Password :</label>
	    <input type="password" id="password" name="_password" placeholder="mot de passe" />
	</p>
	<p>
	    <input type="checkbox" id="remember_me" name="_remember_me" checked />
	    <label for="remember_me">Rester connecté</label>
	</p>
	    <input type="submit" name="login" />
	</form>
	<p>Vous n'avez pas de compte ? <a href="{{ path('registration') }}" >S'inscrire</a></p>
	<p>Vous avez oubli&eacute; votre mot de passe ?</p>
{% endblock %}