{% extends '::noconnect.html.twig' %}

{% block page_name %}Connexion{% endblock %}

{% block body %}
	
	<div class="loginForm">
	     <form name="login_form" action="{{ path('login_check') }}" method="post">	
       	 <ul class="inputs">
       		 <li>
      			<span class="icon" data-icon="&#xe003;" aria-hidden="true" title="username"></span>
	   			<input type="email" id="username" name="_username" placeholder="Adresse mail" autofocus="autofocus" value="{{ last_username }}" />
			</li>
			<li>
				<span class="icon" data-icon="&#xe002;" aria-hidden="true" title="password"></span>
	    		<input type="password" id="password" name="_password" placeholder="Mot de passe" />
			</li>
			<li class="rememberMe">
			    <label for="remember_me">Rester connect&eacute;</label>
	    		<input type="checkbox" id="remember_me" name="_remember_me" checked />
	    	</li>	
		</ul>
		
		{% if error %}
	    <div>L'adresse mail ou le mot de passe saisi est incorrect</div>
		{% endif %}
		<div class="footerLogin">
			<ul class="loginLink">
				<li>
					<a>Mot de passe oubli&eacute; ?</a>				
				</li>
				<li>
					<a href="{{ path('registration') }}" >Pas encore de compte ? S'inscrire</a>
	 	 	 	</li>
	 	   </ul>
	 	   
	 	   <div class="loginSubmit" onclick="document.forms['login_form'].submit()">
		 	   <div class="loginSubmitInner">
		 	   	<span class="icon">
		 	   		<span class="icon" data-icon="&#xe001;" aria-hidden="true" title="password"></span>
		 	   	</span>
		 	   		<input type="submit" name="_login" value="Login" />
		 	   </div>   
	 	   </div>
		</div>
		</form>
	</div>
	
{% endblock %}
