@CHARSET "UTF-8";

/* body */
body {
	background-color: white;
	font-family: 'Pontano Sans', Arial, sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
}

/*Logo MyTeamMate*/
.logo {
	color: #3E97D1;
}

/* header */
.header {
	min-heigth: 50px;
	position: relative;
	background-color: #FFDA73;
	text-align: center;
	margin-bottom: 5px;
	width: 100%;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
}

.header div {
	float: left;
}

.leftButton,.rightButton {
	width: 30px;
	border-left: 1px;
	border-right: 1px;
}

.rightButton {
	margin-right: -30px; /*NON*/
}

.title {
	color: #03426A;
	font-weight: bold;
}

/* Personnal information */
.accountInfo {
	width: 100%;
}

.personnalInfo {
	float: left;
	width: 80%;
}

.name,.firstName {
	font-weight: bold;
}

.description {
	font-style: italic;
	font-size: 12px;
}

.profilePicture {
	max-width: 20%;
	float: left;
}

.profilePicture img {
	width: 100%;
}

/* tiles */
.tiles {
	
}

.baseTile {
	width: 70px;
	height: 70px;
	color: black;
	background-color: #FFDA73;
	border: 4px solid #03426A;
	border-
}

/* General */
.clear {
	clear: both;
}